<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img button class="logo-margin" (click)="goHome()" alt="logo" style="width:180px;height:100px;" src="assets/icon/recipieboxlogolong.png" />
    <ion-searchbar class="search" enterkeyhint="search"></ion-searchbar>
    <ion-button style="float: right; vertical-align: middle;" button (click)="goToAccount()">Account</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Single Section</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card color="secondary" *ngIf="section">
    <!-- <img side="start" style="width:200px;height:128px;" src="https://t4.ftcdn.net/jpg/02/86/17/89/360_F_286178925_8zk89O9uC5JJVPvqhvBMUpaRxp8AFXzD.jpg" /> -->

    <ion-card-header class="header" color="primary">
      <ion-card-title class="ion-text-center">{{ section.title }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-card>
        <ion-card-header>
        <ion-card-title>{{ section.description }}</ion-card-title>
      </ion-card-header>
      </ion-card>
    <!-- </ion-card-content>

    <ion-card-content> -->

      <ion-row>
        <ion-card button (click)="goRecipe()">
          <img alt="chicken" style="width:200px;height:128px;" src="https://img.freepik.com/free-photo/chicken-wings-barbecue-sweetly-sour-sauce-picnic-summer-menu-tasty-food-top-view-flat-lay_2829-6471.jpg?size=626&ext=jpg&ga=GA1.1.87170709.1707696000&semt=sph" />
          <ion-card-header>
            <ion-card-title>Recipe One</ion-card-title>
          </ion-card-header>

        </ion-card>
        <ion-card>
          <img alt="chicken" style="width:200px;height:128px;" src="https://img.freepik.com/free-photo/chicken-wings-barbecue-sweetly-sour-sauce-picnic-summer-menu-tasty-food-top-view-flat-lay_2829-6471.jpg?size=626&ext=jpg&ga=GA1.1.87170709.1707696000&semt=sph" />
          <ion-card-header>
            <ion-card-title>Recipe Two</ion-card-title>
          </ion-card-header>

        </ion-card>
        <ion-card>
          <img alt="chicken" style="width:200px;height:128px;" src="https://img.freepik.com/free-photo/chicken-wings-barbecue-sweetly-sour-sauce-picnic-summer-menu-tasty-food-top-view-flat-lay_2829-6471.jpg?size=626&ext=jpg&ga=GA1.1.87170709.1707696000&semt=sph" />
          <ion-card-header>
            <ion-card-title>Recipe Three</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-row>

    </ion-card-content>
  </ion-card>
</ion-content>
