<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <img alt="logo" style="width:180px;height:100px;" src="assets/icon/recipieboxlogolong.png" />
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">RecipeBox</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Pinned Recipes</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-row>
        <ion-card>
          <img alt="chicken" style="width:200px;height:128px;" src="https://img.freepik.com/free-photo/chicken-wings-barbecue-sweetly-sour-sauce-picnic-summer-menu-tasty-food-top-view-flat-lay_2829-6471.jpg?size=626&ext=jpg&ga=GA1.1.87170709.1707696000&semt=sph" />
          <ion-card-header>
            <ion-card-title>Recipe One</ion-card-title>
          </ion-card-header>
        
        </ion-card>
        <ion-card>
          <img alt="chicken" style="width:200px;height:128px;" src="https://img.freepik.com/free-photo/chicken-wings-barbecue-sweetly-sour-sauce-picnic-summer-menu-tasty-food-top-view-flat-lay_2829-6471.jpg?size=626&ext=jpg&ga=GA1.1.87170709.1707696000&semt=sph" />
          <ion-card-header>
            <ion-card-title>Recipe Two</ion-card-title>
          </ion-card-header>
        
        </ion-card>
        <ion-card>
          <img alt="chicken" style="width:200px;height:128px;" src="https://img.freepik.com/free-photo/chicken-wings-barbecue-sweetly-sour-sauce-picnic-summer-menu-tasty-food-top-view-flat-lay_2829-6471.jpg?size=626&ext=jpg&ga=GA1.1.87170709.1707696000&semt=sph" />
          <ion-card-header>
            <ion-card-title>Recipe Three</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-row>

      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Sections</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-row>

          <ion-card>
            <ion-card-header>
              <ion-card-title>Add New Section</ion-card-title>
            </ion-card-header>
          
          </ion-card>

          <ion-card>
            <img style="width:200px;height:128px;" src="https://t4.ftcdn.net/jpg/02/86/17/89/360_F_286178925_8zk89O9uC5JJVPvqhvBMUpaRxp8AFXzD.jpg" />
            <ion-card-header>
              <ion-card-title>Section One</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              Short description of Section

              <ion-col>
                <ion-card>
                  <ion-card-header>
                    <ion-card-title>Recipe One</ion-card-title>
                  </ion-card-header>
                
                  <ion-card-content>
                    Recipe Description
                  </ion-card-content>
                </ion-card>
                <ion-card>
                  <ion-card-header>
                    <ion-card-title>Recipe Two</ion-card-title>
                  </ion-card-header>
                
                  <ion-card-content>
                    Recipe Description
                  </ion-card-content>
                </ion-card>
                <ion-card>
                  <ion-card-header>
                    <ion-card-title>Recipe Two</ion-card-title>
                  </ion-card-header>
                
                  <ion-card-content>
                    Recipe Description
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <img style="width:200px;height:128px;" src="https://t4.ftcdn.net/jpg/02/86/17/89/360_F_286178925_8zk89O9uC5JJVPvqhvBMUpaRxp8AFXzD.jpg" />
            <ion-card-header>
              <ion-card-title>Section Two</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              Short description of Section

              <ion-col>
                <ion-card>
                  <ion-card-header>
                    <ion-card-title>Recipe One</ion-card-title>
                  </ion-card-header>
                
                  <ion-card-content>
                    Recipe Description
                  </ion-card-content>
                </ion-card>
                <ion-card>
                  <ion-card-header>
                    <ion-card-title>Recipe Two</ion-card-title>
                  </ion-card-header>
                
                  <ion-card-content>
                    Recipe Description
                  </ion-card-content>
                </ion-card>
                <ion-card>
                  <ion-card-header>
                    <ion-card-title>Recipe Two</ion-card-title>
                  </ion-card-header>
                
                  <ion-card-content>
                    Recipe Description
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-card-content>
          </ion-card>
        
      </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
