<ion-header [translucent]="false">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img class="logo-margin" button (click)="goHome()" alt="logo" style="width:180px;height:100px;" src="assets/icon/recipieboxlogolong.png" />
    <ion-searchbar [(ngModel)]="searchQuery" class="search" enterkeyhint="search" debounce="1000" (ionChange)="ionChange($event)"></ion-searchbar>
    <ion-button class="account-margin" button (click)="goToAccount()">Account</ion-button> -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar [(ngModel)]="searchQuery" class="search" enterkeyhint="search" debounce="1000" (ionChange)="ionChange($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="has-header" [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">RecipeBox</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-content>

    <ion-card color="secondary">
      <ion-card-header class="header" color="primary">
        <ion-card-title class="ion-text-center">Pinned recipes</ion-card-title>
      </ion-card-header>

      <ion-card-content >
        <ion-row>
          <div class="scrolling-wrapper">

            <ion-card class="card" *ngFor="let recipe of pinned_recipes" button (click)="goToRecipe(recipe.id.toString())">
              <ion-card-header>
                <ion-card-title>{{ recipe.title }}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                Time: {{recipe.time}} {{recipe.time_unit}}
              </ion-card-content>
            </ion-card>

          </div>
        </ion-row>

      </ion-card-content>
    </ion-card>

    <ion-card color="secondary">
      <ion-card-header class="header"  color="primary">
        <ion-card-title class="ion-text-center">Sections</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-row>

          <!-- <ion-card button (click)="goNewSection()" class="ion-text-center">
            <ion-card-header>
              <ion-card-title > Add New Section
              </ion-card-title>
            </ion-card-header>
          </ion-card> -->

          <div class="scrolling-wrapper">

            <ion-card class="card" *ngFor="let section of sections" button (click)="goToSection(section.id.toString())">
              <ion-card-header>
                <ion-card-title>{{ section.title }}</ion-card-title>
              </ion-card-header>

              <ion-card-content>{{ section.description }}</ion-card-content>

            </ion-card>
          </div>

<!--
              <ion-card-content class="button-margin">
                <ion-col>
                  <ion-card button (click)="goRecipe()">
                    <ion-card-header>
                      <ion-card-title>Recipe One</ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                      Recipe Description
                    </ion-card-content>
                  </ion-card>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-title>Recipe Two</ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                      Recipe Description
                    </ion-card-content>
                  </ion-card>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-title>Recipe Two</ion-card-title>
                    </ion-card-header>

            </ion-card> -->


        </ion-row>

      </ion-card-content>
    </ion-card>
 </ion-content>
</ion-content>

