<!-- <ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

    <ion-card>
      <ion-card-header>
        <ion-card-title>Login</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-input type="text" [(ngModel)]="login.username" label="Username"></ion-input>

          </ion-item>

          <ion-item>
            <ion-input type="text" [(ngModel)]="login.password" label="Password" type="password"></ion-input>
          </ion-item>


        </ion-list>

          <ion-card-content text-center margin-top>
          <button ion-button margin-right (click)="userLogin()"> Log In </button>
          </ion-card-content>

      </ion-card-content>

    </ion-card>

  </ion-header>
</ion-content>
 -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img button (click)="goHome()" alt="logo" style="width:180px;height:100px;" src="assets/icon/recipieboxlogolong.png" />
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">newsection</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Returning User Login</ion-card-title>
    </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-input type="text" [(ngModel)]="login.username" label="Username"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text" [(ngModel)]="login.email" label="Email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text" [(ngModel)]="login.password" label="Password" type="password"></ion-input>
          </ion-item>


        </ion-list>

      <br>

      <ion-button (click)="userRegister()"> Register </ion-button>
      <ion-button (click)="userLogin()"> Log In </ion-button>

      </ion-card-content>
  </ion-card>
</ion-content>
