<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    <img button (click)="goHome()" alt="logo" style="width:180px;height:100px;" src="assets/icon/recipieboxlogolong.png" />
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Login/Register Card -->
  <ion-card>
    <ion-card-header class="header"  color="primary">
      <ion-card-title class="ion-text-center">{{ isLogin ? 'User Login' : 'User Registration' }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="isLogin ? login() : register()">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input formControlName="username" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
        </ion-list>

        <br>

        <!-- Submit button -->
        <ion-button type="submit" expand="block">{{ isLogin ? 'Log In' : 'Register' }}</ion-button>
      </form>

      <!-- Toggle button -->
      <ion-button (click)="isLogin = !isLogin" expand="block">{{ isLogin ? "Don't Have an Account? Register" : "Have an  Account? Login" }}</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
