<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar class="search" enterkeyhint="search"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">New Recipe</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header class="header" color="primary">
      <ion-card-title class="ion-text-center">Add New Recipe</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="recipeForm" (ngSubmit)="saveRecipe()">
        <ion-list>

          <ion-item>
            <ion-input labelPlacement="floating" label="Title" formControlName="title" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input style="margin-right: 10px;" labelPlacement="floating" label="Time" formControlName="time" type="number"></ion-input>
            <ion-select style="min-width: 150px;" labelPlacement="floating" label="Time Unit" formControlName="time_unit">
              <ion-select-option *ngFor="let unit of timeUnits" [value]="unit">{{ unit }}</ion-select-option>
            </ion-select>
          </ion-item>




          <!-- Ingredients -->
          <div formArrayName="ingredients">
            <ion-item *ngFor="let ingredient of ingredientsArray.controls; let i = index" [formGroupName]="i">
              <ion-input style="margin-right: 10px;" labelPlacement="floating" label="Ingredient" formControlName="name" type="text"></ion-input>
              <ion-input style="margin-right: 10px;" labelPlacement="floating" label="Amount" formControlName="amount"></ion-input>
              <ion-input labelPlacement="floating" label="Unit" formControlName="amount_unit" type="text"></ion-input>

              <ion-button (click)="removeIngredient(i)" style="font-size: 25px" fill="clear">-</ion-button>

            </ion-item>
            <ion-button (click)="addIngredient()" >Add Ingredient</ion-button>
          </div>


          <!-- Directions-->
          <div formArrayName="directions">
            <ion-item *ngFor="let direction of directionsArray.controls; let i = index" [formGroupName]="i">
              <ion-input labelPlacement="floating"  label="Direction" formControlName="description" type="text"></ion-input>

              <ion-button (click)="removeDirection(i)" style="font-size: 25px" fill="clear">-</ion-button>

            </ion-item>
            <ion-button (click)="addDirection()">Add Direction</ion-button>

          </div>

          <div>
            <!-- formGroupName="section_checkbox"> -->
            <ion-item>
              <!-- *ngIf="sections_exist"> -->
              <ion-label position="floating">Sections</ion-label>
              <ion-select formControlName="section_ids" multiple="true" (ionChange)="updateSectionIds($event)">
                <ion-select-option *ngFor="let section of sections" [value]="section.id">{{ section.title }}</ion-select-option>
              </ion-select>
            </ion-item>
          </div>

        </ion-list>

        <!-- maybe -->
        <br>

        <ion-button [disabled]="disableButton" type="submit" >Save</ion-button>
        <ion-button (click)="cancel()" >Cancel</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>



