.card{
  box-shadow:none !important
  }
  
.ingredients{
    max-width: 25%;
}

.title{
    margin-top: 10px;
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
}