<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar [(ngModel)]="searchQuery" class="search" enterkeyhint="search" debounce="1000" (ionChange)="ionChange($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">New Section</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header class="header"  color="primary">
      <ion-card-title class="ion-text-center">Add New Section</ion-card-title>
    </ion-card-header>


    <ion-card-content>
      <form [formGroup]="sectionForm" (ngSubmit)="saveSection()">
        <ion-list>
          <ion-item>
            <ion-input formControlName="title" label="Title" labelPlacement="floating" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input formControlName="description" label="Description" labelPlacement="floating" type="text"></ion-input>
          </ion-item>

        </ion-list>


        <!-- maybe -->
        <br>

        <ion-button [disabled]="disableButton" type="submit" >Save</ion-button>
        <ion-button (click)="cancel()" >Cancel</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
