ion-menu {
    --ion-background-color: #ffffff;
    //--ion-text-color: #111111;
  
    ion-toolbar {
      --background: #ffffff;
    }
  
    ion-list {
      background: transparent;
    }

    ion-menu.ios ion-item ion-icon {
      color: #111111;
    }
  }
